@CHARSET "UTF-8";

#idForBackground{
	background-color: beige;
}
#headerDiv{
	background-color: black;
	margin-top: 10px;
	margin-right: 25px;
	margin-left: 25px;
}
#login{
	float: right;
	margin-top: 25px;
	margin-right: 15px;
}
#signUp{
	float: right;
	margin-top: 25px;
	margin-right: 15px;
}
#registerContainer{
	float: right;
	margin-right: 40%;
}
#searchMenu{
	float: left;
	border-style: solid;
	padding-left: 100px;
	padding-right: 100px;
}
